.container {
  padding: 260px 0;
}

.modal-button-base {
  padding: 12px 40px;
  border-radius: 12px;
  border: 1px soild var(--blue-300);
  color: var(--white);
}

.modal-button-not-clicked {
  background: var(--purple-300);
}

.modal-button-not-clicked:hover {
  background: var(--pink-300);
  box-shadow: 0 4px 0 var(--blue-300);
}

.modal-button-clicked {
  background: var(--pink-300);
}
