.container {
  width: max-content;
  background-color: var(--gray-100);
  border-radius: 1rem;
  border: 1px solid var(--gray-200);
  text-align: left;
}

.container:hover {
  border: 4px solid var(--blue-300);
  box-shadow: 8px 12px 0 var(--blue-300);
}

.container > img {
  width: 342px;
  height: 342px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container > small {
  display: block;
  margin: 1.5rem 1.5rem 0 1.5rem;
  color: var(--gray-400);
}

.container > p {
  margin: 0 1.5rem 1.5rem 1.5rem;
}
