.container {
  text-align: center;
  padding: 24px 0;
}

.container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 40px;
  width: max-content;
  margin: 0 auto;
  color: var(--blue-300);
  margin-bottom: 4px;
}

.container > div > a {
  color: var(--blue-300);
  text-decoration: underline;
}

.container > div > a:hover {
  color: var(--blue-200);
}

.container > p {
  color: var(--gray-400);
}

@media (min-width: 768px) {
  .container > div {
    flex-direction: row;
  }
}
